<h1>ChekBlok</h1>

<p>Welcome to ChekBlok</p>

<% if @display_name %>
  <p>You are logged in via GitHub as <%= @display_name %>.</p>
<% else %>
  <p><%= link_to('Login via GitHub', '/auth/github', data: { turbolinks: false }) %></p>
<% end %>
